/* http://lea.verou.me/css3patterns/#carbon */
body {
	background:
		linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
		linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
		linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
		linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
		linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
		linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background-color: #131313;
	background-size: 20px 20px;
}

div.b-centeredwrapper {
	width: 1056px;
}

div.b-page {
	height: auto !important;
}

/* sans-serif body text */
div.article_body_text,
div.article-content p {
	font: normal 16px/1.5 Arial, sans-serif;
}

/* yellow is ugly (gult är fult) */
div.b-yellowTeaser_content {
	background-color: #f0f0f0;
}

/* hide stuff */
div.b-ad,
div.b-site-header-market,
#exportHeader > div:not(.b-page) {
	display: none !important;
}

a.b-site-logo {
	position: relative;
}

/* display version */
a.b-site-logo:after {
	content: "v$version";
	background-color: #f0f0f0;
	font: bold 18px Arial, sans-serif;
	padding: 5px;
	border-radius: 3px;
	position: absolute;
	bottom: 0;
	left: 470px;
	cursor: default;
}