/* http://lea.verou.me/css3patterns/#carbon */

body {
	background:
		linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
		linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
		linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
		linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
		linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
		linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background-color: #131313;
	background-size: 20px 20px;
}

/* site is too wide for lower resolutions */

div.b-centeredwrapper {
	width: 1056px;
}

/* hide paywalls, ads and stuff */

div.b-page {
	height: auto !important;
}

div[id$="Popup"],
div.b-ad,
div.b-site-header-market {
	display: none !important;
}

/* fonts */

h1.article-title,
h1.article-title-tablet,
span.b-stories_first_heading a,
div.b-blogarticles h1,
div.b-blogarticles h2 {
	font: bold 46px/1.1 "Guardian Sans Web", Arial, sans-serif;
}

div.b-article-heading {
	font: bold 34px "Guardian Sans Web", Arial, sans-serif;
}

div.article_body_text,
div.article-content p,
.b-blogarticles p {
	font: normal 16px/1.5 Arial, sans-serif;
}

/* yellow is ugly (gult är fult) */

div.b-yellowTeaser_content {
	background-color: #f0f0f0;
}

/* display version */

a.b-site-logo {
	position: relative;
}

a.b-site-logo:after {
	content: "v$version";
	background-color: #dc1e46;
	color: #fff;
	font: bold 13px Arial, sans-serif;
	padding: 2px 4px;
	border-radius: 2px;
	position: absolute;
	bottom: 0;
	left: 470px;
}

a.b-site-logo:hover:after {
	content: "v$version\Ahttp://bit.ly/1ddvffP";
	background-color: #fff;
	color: #000;
}